<div class="sidebar-wrapper">
    <div class="company-logo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfnTrISw9lVDkr18u_fRpxBZTmTKrArMFnuw&s">
    </div>
    <div class="actions-wrapper">
        <button class="participants-btn">
            <i class="fas fa-users"></i>
            participants
        </button>
        <button class="details-btn">
            <i class="fas fa-info-circle"></i>
            details
        </button>
        <button class="manager-btn">
            <i class="far fa-user-circle"></i>
            manager
        </button>
        <button class="settings-btn">
            <i class="fas fa-cog"></i>
            setttings
        </button>
    </div>
    <div>
        <button class="leave-call" (click)="leaveCall()">leave discussion</button>
    </div>
</div>